.b-button {
  display: inline-block;
  position: relative;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 30px;
  font: 15px / 30px sans-serif;
  cursor: pointer;
  padding: 0 5px;

  &:hover {
    border-color: #000;
  }
}
